/* reset ================================ */
* {
    box-sizing: border-box;
    color: #000;
  }
  
  html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
  }
  
  a {
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: serif;
  }
  
  /* 共通レイアウト ================================ */
  body {
    color: #2d3133;
    margin: 0;
    min-height: 100%;
  }

  /* ヘッダー ================================ */

  
  /* top ================================ */
  .top {
    border-bottom-width: thin;
    border-bottom-style: solid;
  }
  
  /* about ================================ */
  .index-main {
    color: black;
    background-color: white;
    min-height: 100vh;
    margin: 20px 0;
  }

  .index-main h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: xx-large;
  }
  
  .index-main h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
  }

  .index-main ul {
    margin-top: 10px;
    list-style-position: inside;
    list-style-type: square;
  }
  
  .index-main p {
    font-weight: bold;
    font-size: 20px;
  }

  .index-main li {
    margin-left: 10mm;
  }

  .lecture {
    background-color: #e6f0f0;
    /*margin: 2vh 4vh;*/
    padding: 1vh 2vh;
  }

  .date {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  .grid {
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr;
    margin: 2vh 2vw;
  }
  
