# .giattributesとFor_check.tex を無視
.gitattributes
For_check.tex 
index/For_check.tex 
index/out/For_check.*
index/out/*.log
index/*.BAT
*.txt

# seiritz.code-workspace を無視
*.code-workspace

# out ディレクトリ以下すべて無視
/out/*