/* reset ================================ */
@charset "UTF-8";
* {
    box-sizing: border-box;
    color: #000;
  }
  
  html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
  }
  
  a {
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: serif;
  }
  
  /* 共通レイアウト ================================ */
  body {
    padding-top: 40px;
    color: #2d3133;
    margin: 0;
    min-height: 100vh;
  }

  /* ヘッダー ================================ */

  header {
    width: 100%;
    height: 50px;
    padding: 0 50px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background: snow;
    border-bottom-width: thin;
    border-bottom-style: solid;
    display: flex;
    justify-content: space-between;
  }


  header h1 {
    align-items: center;
  }

  header a {
    text-decoration: none;
    width: auto;
    font-size: large;
    font-weight: normal;
    margin-right: 5vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  .contents {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-top: 10px;
  }

  .contents li{
    padding: 0px 10px;
  }

  .contents a {
    font-family: 'Noto Serif JP', serif;
  }

  /* index ================================ */
  .index-main {
    color: black;
    background-color: white;
    margin: 10px 0;
    font-family: 'Noto Serif JP', serif;
  }

  .index-main h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: xx-large;
  }
  
  .index-main p {
    font-weight: bold;
    font-size: 20px;
  }

  .index-main li {
    margin-left: 10mm;
  }

  .content-title {
    border-top-style: solid;
    border-top-width: thin;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .content-title h3 {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    line-height: 1.4;
  }

  .lecture {
    background-color: #e6f0f0;
    /*margin: 2vh 4vh;*/
    padding: 1vh 2vh;
  }

  .q-all {
    margin-top: 10px;
    list-style-position: inside;
    list-style-type: square;
  }

  .q-theme {
    margin-left: 1vh;
  }

  .q-indi {
    margin-top: 0px;
    list-style-position: inside;
    list-style-type: disc;
  }

  .q-indi li {
    margin-left: 15mm;
  }

  .q-from {
    margin-left: 1vh;
  }

  .q-desc {
    list-style-type: circle;
  }

  .q-desc li {
    margin-left: 20mm;
  }

  .date {
    border-bottom-style: solid;
    border-bottom-width: thin;
  }

  .grid {
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr 1fr;
    margin: 2vh 3vw;
  }
  
  @media (max-width: 1000px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
